@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');


header{
    background-image: url("../kepek/fejlec.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 330px;
    width: 100%;
}

.kezdokep{
    border: 5px solid #555;
    box-shadow: 2px 2px 2px rgb(37, 35, 35);
}

body{
    background-color: #4c6386;
    font-family: 'Yaldevi', sans-serif;
}

nav{
    background-color: #2d3e56;
}

h1{
    text-align: center;
    color: white;
}

.leiras{
    text-align: center;
    color:white;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #2d3e56;
    color: white;

}