@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

body{
    background-color: #4c6386;
    font-family: 'Yaldevi', sans-serif;
}

nav{
    background-color: #2d3e56;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #2d3e56;
    color: white;
}

h1,h2{
    color: white;
    text-align: center;
}

.kepek{
    border: 5px solid #555;
    box-shadow: 2px 2px 2px rgb(37, 35, 35);
}